.footer{
	background-color: #212A2F;
	cursor: default;
	&__inner{
		max-width: 1332px;
		margin: 71px auto 90px auto;
		@media (max-width: $md4 + px){
			text-align: center;
		}
	}
	&__form-title{
		@include fontText(Roboto, 14px, 400);
		line-height: 19 / 14 * 100%;
		color: white;
	}
	&__input{
		width: 292px;
		height: 48px;
		margin-top: 6px;
		background-color: #4D5559;
		border-bottom: 2px solid white;
		color: white;
		font-size: 16px;
		padding-left: 10px;
		@media (max-width: 460px){
			width: 100%;
			margin-bottom: 10px;
		}
	}
	&__btn{
		width: 130px;
		margin-top: 1px;
		background-color: white;
	}
	&__links{
		margin-top: 90px;
		display: flex;
		flex-wrap: wrap;
	}
	&__title{
		text-transform: uppercase;
		color: white;
		@include fontText(Roboto, 14px, 400);
		line-height: 21 / 14 * 100%;
	}
	&__list{
		margin-top: 21px;
	}
	&__item:not(:last-child){
		margin-bottom: 16px;
	}
	&__item{
		@include fontText(Roboto, 12px, 400);
		line-height: 12 / 12 * 100%;
		color: white;
		& a{
			color: white;
			transition: color 0.3s ease 0s;
			@media (min-width: $md2+px) {
				&:hover {
					color: #bb4949;
				}
			}
		}
	}
	&__column{
		width: 33.3%;
		@media (max-width: $md4 + px){
			width: 100%;
			&:not(:last-child){
				margin-bottom: 30px;
			}
		}
	}
	&__block{
		display: flex;
		flex-wrap: wrap;
		margin-top: 85px;
	}
	&__logo{
		font-size: 115px;
		color: white;
		transition: color 0.3s ease 0s;
		@media (min-width: $md2+px) {
			&:hover {
				color: #bb4949;
			}
		}
	}
	&__icon-list{
		display: flex;
		flex-wrap: wrap;
		margin-left: -12px;
    	& li, & a{
    		font-size: 22px;
    		color: white;
    	}
    	& a{
    		transition: color 0.3s ease 0s;
    		@media (min-width: $md2+px) {
				&:hover {
					color: #bb4949;
				}
			}
    	}
    	& li{
    		margin-bottom: 10px;
    	}
    	@media (max-width: $md4 + px){
    		justify-content: center;
    		margin-left: 0;
    	}
	}
	&__icon-list li{
		margin: 0 12px 10px 12px;
	}
	&__text{
		margin-top: 20px;
		@include fontText(Roboto, 12px, 400);
		line-height: 18 / 12 * 100%;
		color: white;
		max-width: 293px;
		margin-bottom: 15px;
		margin-right: 35px;
		@media (max-width: $md4 + px){
			margin-left: auto;
			margin-right: auto;
		}
	}
}
.copyright{
	margin-top: 94px;
	&__title{
		text-align: center;
		@include fontText(Roboto, 12px, 400);
		color: white;
		line-height: 18 / 12 * 100%;
	}
}