.intro{
	min-height: 740px;
	background-image: url(../img/intro/rectangle.jpeg);
	background-position-x: 50%;
	background-size: cover;
	@media (max-width: $md1+px) {
		padding: 0 12px;
	}
	&__content{
		max-width: 754px;
		margin: 0 auto;
		margin-top: 321px;
		text-align: center;
	}
	&__title{
		@include fontText(Roboto, 48px, 400);
		line-height: 63 / 48 * 100%;
		color: white;
		cursor: default;
	}
	&__subtitle{
		@include fontText(Roboto, 16px, 400);
		line-height: 24 / 16 * 100%;
		color: white;
		cursor: default;
	}
	&__button{
		margin-top: 207px;
		margin-bottom: 66px;
		display: flex;
		justify-content: center;
	}
	&__btn{
		margin: 12px;
		width: 180px;
		background-color: #FFF;
	}
}